<div class="container mt-5">

  <h2>Menu</h2>

  <button (click)="retrieveFoods(restaurant)" class="btn btn-success">GetRestaurantFood</button>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let food of foods">
      <td>{{ food.id }}</td>
      <td>{{ food.name }}</td>
      <td>{{ food.description }}</td>
      <td>{{ food.price }}</td>
      <td>{{ food.category }}</td>
    </tr>
    </tbody>
  </table>
</div>
